@model Dibware.Template.Presentation.Web.Models.Error.ErrorViewModel

@*@{
    ViewBag.Title = "Error";
}*@

<hgroup>
    <h1>@Model.PageTitle</h1>
    <h2>@Model.PageSubTitle</h2>
</hgroup>
<p>@Model.ErrorMessage</p>