@model Dibware.Template.Presentation.Web.Models.Error.ErrorViewModel

@*@{
    ViewBag.Title = "Error";
}*@
<div class="hero-unit">
  <h1>@Model.PageTitle</h1>
  <h4>@Model.PageSubTitle</h4>
  <p>@Model.ErrorMessage</p>
</div>