@using Dibware.Template.Presentation.Web.Resources
@model Dibware.Template.Presentation.Web.Models.Home.StatusViewModel

<section id="statusPage">
  <p></p>
  <div class="jumbotron">
    <div class="container">
      <h1>@PageTitles.WebsiteStatus</h1>
      <h4>@Model.Message</h4>
    </div>
  </div>
</section>