@using Dibware.Template.Presentation.Web.Resources
@using Dibware.Template.Presentation.Web.HtmlHelpers
@model Dibware.Template.Presentation.Web.Models.Home.ContactEmailSentViewModel


<hgroup class="title">
  <h1>@PageTitles.ContactEmailSent</h1>
</hgroup>
<section id="confirmAccountPage">
  <p>@Model.Name</p>
  <p>@PageText.ContactEmailSent</p>
</section>