@using Dibware.Template.Presentation.Web.Resources
@model Dibware.Template.Presentation.Web.Models.Home.IndexViewModel

<hgroup class="title">
  <h1>@PageTitles.Home</h1>
</hgroup>
<section id="homePage">
  <h2>@PageSubTitles.Home</h2>
  <p class="lead">Use this document as a way to quickly start any new project.
    Replace this text with something more meaningful!</p>
</section>