<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Dibware.Template.Infrastructure.SqlDataAccessTests.Properties.Settings.TestConnection"
      connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename={0}\WebsiteTemplate_Test.mdf;Integrated Security=True;Pooling=false" />
    <add name="Dibware.Template.Infrastructure.SqlDataAccessTests.Properties.Settings.TestConnectionEmpty"
      connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename={0}\WebsiteTemplate_Test_Empty.mdf;Integrated Security=True;Pooling=false" />
  </connectionStrings>
</configuration>