<connectionStrings>
  <add name="UnauthorisedUserConnectionString" providerName="System.Data.SqlClient" connectionString="data source=(LocalDb)\v11.0;initial catalog=TemplateWebsite;persist security info=true;user id=AppUnauthorisedLogin;password=fr33b!rd;"/>
  <add name="MainUserConnectionString" providerName="System.Data.SqlClient" connectionString="data source=(LocalDb)\v11.0;initial catalog=TemplateWebsite;persist security info=true;user id=AppMainLogin;password=Ma!n51teA((ess;"/>
  <add name="AdminUserConnectionString" providerName="System.Data.SqlClient" connectionString="data source=(LocalDb)\v11.0;initial catalog=TemplateWebsite;persist security info=true;user id=AppAdminLogin;password=Re5tr!ct3dA((es5;"/>
</connectionStrings>
