@using Dibware.Template.Presentation.Web.Resources
@using Dibware.Template.Presentation.Web.HtmlHelpers
@model Dibware.Template.Presentation.Web.Models.Account.ChangePasswordConfirmedViewModel

<hgroup class="title">
  <h1>@PageTitles.ChangePasswordConfirmed</h1>
</hgroup>
<section id="confirmAccountPage">
  <p>@Model.UserName</p>
  <p>@PageText.ChangePasswordConfirmed</p>
</section>