@using Dibware.Template.Presentation.Web.Resources
@model Dibware.Template.Presentation.Web.Models.Account.ConfirmAccountAwaitEmail

<hgroup class="title">
  <h1>@PageTitles.Terms</h1>
</hgroup>
<section id="termsPage">
  <p>@Model.UserName</p>
  <p>@PageText.ConfirmAccountAwaitEmail</p>
</section>