@using Dibware.Template.Presentation.Web.Resources
@using Dibware.Template.Presentation.Web.HtmlHelpers
@model Dibware.Template.Presentation.Web.Models.Account.LogoutViewModel

@section Metadata
{
  <meta http-equiv='refresh' content='5; url=@Url.Action(ActionMethods.Index, ControllerNames.Home)'>
}
<hgroup class="title">
  <h1>@PageTitles.Logout</h1>
</hgroup>
<section id="confirmAccountPage">
  <p>@Model.UserName</p>
  <p>@PageText.Logout</p>
</section>